/* ---- Colors ---- */

$color-swampBlack: #001622;

$color-darkGrey: #263238;

/* BASIC */

$color-lavaGrey: #303d43;

$color-blueGrey: #3c4e57;

$color-graphiteGrey: #4f5f67;

$color-slateGrey: #637179;

$color-hitGrey: #95a5ac;

$color-cloudGrey: #cad2d6;

$color-spaceGrey: #dfe4e6;

$color-hazeGrey: #eaedef;

$color-lightGrey: #f5f6f7;

$color-white: #ffffff;

$color-carraraBeige: #e6e6e1;

/* Products */

$color-biYellow: #e59717;

/* Various */

$color-indochineOchre: #cb7100;

$color-eminenceViolet: #6e3785;

$color-chambrayBlue: #305488;

$color-tradewindPetrol: #5cb3b6;

/* USER INTERFACE ELEMENTS */

$color-ctaYellow: #e59717;

$color-ctaPink: #e5004e;

$color-ctaBlue: #109ec7;

$color-ctaPetrol: #15aca2;

$color-ctaGreen: #6fb96d;

$color-warnYellow: #e9b707;

$color-warnRed: #ee2526;

$color-infoViolet: #806cbf;

$color-statusGreen: #1a961d;

$shadow-light: 0px 1px 2px 0px transparentize($color-swampBlack, 0.5);
$shadow-strong: 0px 12px 24px 0px transparentize($color-swampBlack, 0.5);
